@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* src/index.css */
body {
  font-family: 'Montserrat', 'SF Pro Display', 'SF Pro Text', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #F5F5F7;
  margin: 0;
  min-height: 100vh;
}

