@import "tailwindcss";

body {
  font-family: 'SF Pro Display', 'SF Pro Text', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #F5F5F7;
  display: block;
  margin: 0;
  min-height: 100vh;

}
